<div class="container">
	<h1>Agregar un producto.</h1>
	<form id="form">
		<label for="">
			Nombre
			<input
				id="nombreProducto"
				type="text"
				name="nombre"
				placeholder="Ingrese el nombre del producto"
			/>
		</label>
		<label for="">
			Precio
			<input
				id="precioProducto"
				type="text"
				name="precio"
				placeholder="Ingrese el precio del producto"
			/>
		</label>

		<label for="">
			Thumbnail
			<input
				id="thumbnailProducto"
				type="text"
				name="thumbnail"
				placeholder="Ingrese el link de la imagen"
			/>
		</label>

		<button
			type="submit
			"
		>
			Enviar
		</button>
	</form>
</div>
<script src="main.js"></script>